.plusImg{
	width:40px;
	height: 40px;
	float:right;
}
.modal-title{
	text-align: center;
	letter-spacing: 1px;
}
.searchInput{
	letter-spacing: 2px;
	width:175px;
/*	font-style: italic;
*/}
.seeMore{
	background-color: #a60c0c;
	border: 1px solid #a60c0c;
	color:white;
	font-weight:400;
	width:100px;
	letter-spacing: 1px;
	position: relative;
	left:-70px;

}
.seeMore:hover{
	background-color: white;
	color:#a60c0c;
}
.searchBar{
	float: right;
	margin-top: -45px;
}
.search-table{
	margin-top:-30px;
}
.saveBtn{
	letter-spacing: 1px;
}
.selectBlood{
	text-align: center;
}
a:hover{
	color:#a60c0c !important;
}
.inputs{
	text-align: center;
	letter-spacing: 1px;
}
.linkBtns.active {
background: #ea0000;
color: #fff;
}
.availableDonors{
	text-align: center;
	color:#46b801;
}
h4{
	text-align: center;
}
h5{
	text-align: center;
	color:#46b801;
}
.attendBtn{
	border: 1px solid #46b801;
	background-color: transparent;
	color:#46b801;
}
.attendBtn:hover{
	background-color: #46b801;
	color:white;
}
thead {
  text-align: center;
  vertical-align: middle;
}
